<div class="col-md-10">
    <ul class="phones">
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/motorola-xoom-with-wi-fi">
                <img ng-src="img/phones/motorola-xoom-with-wi-fi.0.jpg" src="img/phones/motorola-xoom-with-wi-fi.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/motorola-xoom-with-wi-fi">Motorola XOOM&trade; with Wi-Fi</a>
            <p class="ng-binding">The Next, Next Generation Experience the future with Motorola XOOM with Wi-Fi, the world's first tablet powered by Android 3.0 (Honeycomb).</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/motorola-xoom">
                <img ng-src="img/phones/motorola-xoom.0.jpg" src="img/phones/motorola-xoom.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/motorola-xoom">MOTOROLA XOOM&trade;</a>
            <p class="ng-binding">The Next, Next Generation Experience the future with MOTOROLA XOOM, the world's first tablet powered by Android 3.0 (Honeycomb).</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/motorola-atrix-4g">
                <img ng-src="img/phones/motorola-atrix-4g.0.jpg" src="img/phones/motorola-atrix-4g.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/motorola-atrix-4g">MOTOROLA ATRIX&trade; 4G</a>
            <p class="ng-binding">MOTOROLA ATRIX 4G the world's most powerful smartphone.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/dell-streak-7">
                <img ng-src="img/phones/dell-streak-7.0.jpg" src="img/phones/dell-streak-7.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/dell-streak-7">Dell Streak 7</a>
            <p class="ng-binding">Introducing Dell&trade; Streak 7. Share photos, videos and movies together. It&rsquo;s small enough to carry around, big enough to gather around.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/samsung-gem">
                <img ng-src="img/phones/samsung-gem.0.jpg" src="img/phones/samsung-gem.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/samsung-gem">Samsung Gem&trade;</a>
            <p class="ng-binding">The Samsung Gem&trade; brings you everything that you would expect and more from a touch display smart phone &ndash; more apps, more features and a more affordable price.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/dell-venue">
                <img ng-src="img/phones/dell-venue.0.jpg" src="img/phones/dell-venue.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/dell-venue">Dell Venue</a>
            <p class="ng-binding">The Dell Venue; Your Personal Express Lane to Everything</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/nexus-s">
                <img ng-src="img/phones/nexus-s.0.jpg" src="img/phones/nexus-s.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/nexus-s">Nexus S</a>
            <p class="ng-binding">Fast just got faster with Nexus S. A pure Google experience, Nexus S is the first phone to run Gingerbread (Android 2.3), the fastest version of Android yet.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/lg-axis">
                <img ng-src="img/phones/lg-axis.0.jpg" src="img/phones/lg-axis.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/lg-axis">LG Axis</a>
            <p class="ng-binding">Android Powered, Google Maps Navigation, 5 Customizable Home Screens</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/samsung-galaxy-tab">
                <img ng-src="img/phones/samsung-galaxy-tab.0.jpg" src="img/phones/samsung-galaxy-tab.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/samsung-galaxy-tab">Samsung Galaxy Tab&trade;</a>
            <p class="ng-binding">Feel Free to Tab&trade;. The Samsung Galaxy Tab&trade; brings you an ultra-mobile entertainment experience through its 7&rdquo; display, high-power processor and Adobe&reg; Flash&reg; Player compatibility.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/samsung-showcase-a-galaxy-s-phone">
                <img ng-src="img/phones/samsung-showcase-a-galaxy-s-phone.0.jpg" src="img/phones/samsung-showcase-a-galaxy-s-phone.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/samsung-showcase-a-galaxy-s-phone">Samsung Showcase&trade; a Galaxy S&trade; phone</a>
            <p class="ng-binding">The Samsung Showcase&trade; delivers a cinema quality experience like you&rsquo;ve never seen before. Its innovative 4&rdquo; touch display technology provides rich picture brilliance, even outdoors</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/droid-2-global-by-motorola">
                <img ng-src="img/phones/droid-2-global-by-motorola.0.jpg" src="img/phones/droid-2-global-by-motorola.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/droid-2-global-by-motorola">DROID&trade; 2 Global by Motorola</a>
            <p class="ng-binding">The first smartphone with a 1.2 GHz processor and global capabilities.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/droid-pro-by-motorola">
                <img ng-src="img/phones/droid-pro-by-motorola.0.jpg" src="img/phones/droid-pro-by-motorola.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/droid-pro-by-motorola">DROID&trade; Pro by Motorola</a>
            <p class="ng-binding">The next generation of DOES.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/motorola-bravo-with-motoblur">
                <img ng-src="img/phones/motorola-bravo-with-motoblur.0.jpg" src="img/phones/motorola-bravo-with-motoblur.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/motorola-bravo-with-motoblur">MOTOROLA BRAVO&trade; with MOTOBLUR&trade;</a>
            <p class="ng-binding">An experience to cheer about.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/motorola-defy-with-motoblur">
                <img ng-src="img/phones/motorola-defy-with-motoblur.0.jpg" src="img/phones/motorola-defy-with-motoblur.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/motorola-defy-with-motoblur">Motorola DEFY&trade; with MOTOBLUR&trade;</a>
            <p class="ng-binding">Are you ready for everything life throws your way?</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/t-mobile-mytouch-4g">
                <img ng-src="img/phones/t-mobile-mytouch-4g.0.jpg" src="img/phones/t-mobile-mytouch-4g.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/t-mobile-mytouch-4g">T-Mobile myTouch 4G</a>
            <p class="ng-binding">The T-Mobile myTouch 4G is a premium smartphone designed to deliver blazing fast 4G speeds so that you can video chat from practically anywhere, with or without Wi-Fi.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/samsung-mesmerize-a-galaxy-s-phone">
                <img ng-src="img/phones/samsung-mesmerize-a-galaxy-s-phone.0.jpg" src="img/phones/samsung-mesmerize-a-galaxy-s-phone.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/samsung-mesmerize-a-galaxy-s-phone">Samsung Mesmerize&trade; a Galaxy S&trade; phone</a>
            <p class="ng-binding">The Samsung Mesmerize&trade; delivers a cinema quality experience like you&rsquo;ve never seen before. Its innovative 4&rdquo; touch display technology provides rich picture brilliance,even outdoors</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/sanyo-zio">
                <img ng-src="img/phones/sanyo-zio.0.jpg" src="img/phones/sanyo-zio.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/sanyo-zio">SANYO ZIO</a>
            <p class="ng-binding">The Sanyo Zio by Kyocera is an Android smartphone with a combination of ultra-sleek styling, strong performance and unprecedented value.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/samsung-transform">
                <img ng-src="img/phones/samsung-transform.0.jpg" src="img/phones/samsung-transform.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/samsung-transform">Samsung Transform&trade;</a>
            <p class="ng-binding">The Samsung Transform&trade; brings you a fun way to customize your Android powered touch screen phone to just the way you like it through your favorite themed &ldquo;Sprint ID Service Pack&rdquo;.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/t-mobile-g2">
                <img ng-src="img/phones/t-mobile-g2.0.jpg" src="img/phones/t-mobile-g2.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/t-mobile-g2">T-Mobile G2</a>
            <p class="ng-binding">The T-Mobile G2 with Google is the first smartphone built for 4G speeds on T-Mobile's new network. Get the information you need, faster than you ever thought possible.</p>
        </li>
        <li class="thumbnail phone-listing ng-scope" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
            <a class="thumb" href="#/phones/motorola-charm-with-motoblur">
                <img ng-src="img/phones/motorola-charm-with-motoblur.0.jpg" src="img/phones/motorola-charm-with-motoblur.0.jpg">
            </a>
            <a class="ng-binding" href="#/phones/motorola-charm-with-motoblur">Motorola CHARM&trade; with MOTOBLUR&trade;</a>
            <p class="ng-binding">Motorola CHARM fits easily in your pocket or palm. Includes MOTOBLUR service.</p>
        </li>
    </ul>
</div>